<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <script src="/templates/js/components.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h1>Avaliação contínua: Aula 03</h1>
    </header>
    <div id="content">
        <h2>Seu navegador é: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36</h2>
        <h2>O IP do cumputador remoto é: 10.0.0.20</h2>
        <h2>O host da aplicação é: FelipeSuzuki.pythonanywhere.com</h2>
        <a href="/">Voltar</a>
    </div>

    <script src="script.js"></script>
</body>
</html>